#haha{
    text-align: center;
}
#hh{
    color: #0000FF; font-size: 20px;
}
#kk{
    color: #FF0000; font-size: 20px;
}
input{
    border: solid 3px #00FF00;
    color: #5F9EA0;
}
textarea{
    border: solid 3px #66CDAA;
    color: #A52A2A;
}
